$color_white: white;
$color_gray1: #EDEEF0;
$color_gray3: #ADBACC;
$color_gray5: #1F364D;

$color_lightblue: #b3e5fc;
$color_darkBlue: #20639B;

$color_lightgreen: #c8e6c9;
$color_green: #81C784;

$color_yellow: #E9CE4C;