@mixin scroll {
  &::-webkit-scrollbar {
    width: 6px;
    background: #dfe4eb;
    opacity: 0.8;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #adbacc;
    opacity: 0.8;
    border-radius: 3px;
  }
}

@mixin text-elipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
