@import "assets/colors.scss";
@import "assets/mixins.scss";

.app-ui-detailing {
  &-favorite-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }

  // base elements

  &-field {
    &-title {
      color: $color_gray3;
      font-size: 14px;
      margin-bottom: 4px;
    }

    &-text {
      color: $color_gray5;
      font-size: 18px;
      margin-bottom: 8px;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    margin-right: 20px;
    font-size: 64px;
  }

  &-link {
    @include link;
  }

  // layout

  &-details {
    height: 100%;
    padding: 0px 20px;
    overflow-y: scroll;
    @include scroll;

    & .ant-collapse-content-box {
      padding: 0px !important;
    }

    &-main {
      display: flex;
      flex-direction: column;
      padding: 20px;

      &-base {
        display: flex;
        flex-wrap: wrap;

        &-info {
          @include info-block;
        }

        &-status {
          @include info-block;
        }

        &-contacts {
          @include info-block;
          margin-right: 0px;
        }
      }

      &-additional {
        @include info-block;
        max-width: 100%;
        margin: 0px 0px 20px 0px;
      }

      &-levels {
        width: 100%;
      }
    }

    &-chief {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;

      &-info {
        @include info-block;
      }

      &-phones {
        display: flex;
        flex-direction: column;

        &-phone {
          display: flex;
          flex-direction: column;
        }
      }
    }

    &-graphs {
      & .highcharts-container {
        margin: 0 auto;
      }
    }

    &-address {
      &-table-copy {
        width: 100%;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      &-button {
        width: 240px;
        height: 40px;
        margin: 0px 10px;
        padding: 0px 16px;
        background-color: $color_darkBlue;
        color: $color_white;
        border-radius: 4px;

        &>span {
          margin-right: 4px;
        }
      }
    }
  }
}
