@import "assets/colors.scss";
@import "assets/mixins.scss";

.app-ui-filters {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0px 20px;

  &-modal {
    height: 640px;
    width: 720px !important;
  }

  &-column {
    width: 50%;

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      &-text {
        @include text-elipsis;
        width: calc(100% - 32px);
        font-size: 24px;
        line-height: 32px;
        color: $color_gray5;
      }
    }

    &-content {
      height: calc(100% - 32px);
      overflow-y: scroll;
      @include scroll;
    }

    &.left {
      padding-right: 10px;
    }

    &.right {
      padding-left: 10px;
    }
  }

  &-filter {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 100%;

    &-text {
      @include text-elipsis;
      padding-left: 10px;
      color: $color_gray5;
      font-weight: 500;

      &.selected {
        color: $color_darkBlue;
      }
    }
  }
}
