@import "assets/colors.scss";

.app-ui-side-menu {
  background-color: $color_white !important;

  &-logo {
    height: 64px;
    width: 64px;
    padding: 4px;

    &-wrapper {
      display: flex;
      align-items: center;
      height: 64px;
      width: 100%;
    }
  }

  & .ant-menu-item {
    display: flex;
    align-items: center;
    height: 56px !important;
    font-size: 16px;

    &:hover {
      color: $color_darkBlue;
    }

    &-selected {
      color: $color_darkBlue !important;
      &::after {
        border-right: 3px solid $color_darkBlue !important;
      }
    }
  }
}
